{% extends 'base.html.twig' %}

{% block title %}Cow index{% endblock %}

{% block body %}
    <h1>Lista de Bois Abatidos</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr class="table-dark">
                <th>Id</th>
                <th>Peso</th>
                <th>Quantidade de Leite produzido por Semana</th>
                <th>Quantidade de comida ingerida por Semana</th>
                <th>Data de Nascimento</th>
                <th>Abatido</th>
                <th>Pronto pro Abate</th>
            </tr>
        </thead>
        <tbody>
        {% for cow in cows %}
            <tr>
                <td>{{ cow.id }}</td>
                <td>{{ cow.weight }}</td>
                <td>{{ cow.milkAmount }}</td>
                <td>{{ cow.foodAmount }}</td>
                <td>{{ cow.born ? cow.born|date('d-m-Y') : '' }}</td>
                <td>{{ cow.isAlive ? 'Não' : 'Sim' }}</td>
                <td>{{ cow.isAbate ? 'Sim' : 'Não' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Não existe para Abate</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}