{% extends 'base.html.twig' %}

{% block title %}Cow index{% endblock %}

{% block body %}
    <h1>Home</h1>
    <p>Total de leite produzido por semana: {{ milk }}
    <p>Total de Ração necessária por semana: {{ food }}
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Peso</th>
                <th>Quantidade de Leite produzido por Semana</th>
                <th>Quantidade de comida ingerida por Semana</th>
                <th>Data de Nascimento</th>
                <th>Vivo</th>
                <th>Pronto pro Abate</th>
            </tr>
        </thead>
        <tbody>
        {% for cow in cows %}
            <tr>
                <td>{{ cow.id }}</td>
                <td>{{ cow.weight }}</td>
                <td>{{ cow.milkAmount }}</td>
                <td>{{ cow.foodAmount }}</td>
                <td>{{ cow.born ? cow.born|date('d-m-Y') : '' }}</td>
                <td>{{ cow.isAlive ? 'Sim' : 'Não' }}</td>
                <td>{{ cow.isAbate ? 'Sim' : 'Não' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Não existe bois na Fazenda</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cow_index') }}">Lista de todos os Bois</a>
{% endblock %}